In [1]:
from pathlib import Path
import pandas as pd 
import numpy as np

In [38]:
# mapping each alphabet to its appropriate keypad number (could be done better, first version so a bit rough around the edges)
phone_keys:dict[str, int] = {
    "A": 2,
    "B": 2,
    "C": 2,
    "D": 3,
    "E": 3,
    "F": 3,
    "G": 4,
    "H": 4,
    "I": 4,
    "J": 5,
    "K": 5,
    "L": 5,
    "M": 6,
    "N": 6,
    "O": 6,
    "P": 7,
    "Q": 7,
    "R": 7,
    "S": 7,
    "T": 8,
    "U": 8,
    "V": 8,
    "W": 9,
    "X": 9,
    "Y": 9,
    "Z": 9
}

In [11]:
# setting up the dataset path
dataset_path = Path().absolute() / "Data"

In [12]:
# function to read a dataframe
def retrieve_data(path: Path) -> pd.DataFrame:

    return pd.read_csv(path)

In [ ]:
# function to convert phone numbers into their appropriate keypad number form
def return_phone_form (last_name: str) -> str:

    last_name = last_name.upper()

    phone_form: str = ""

    for letter in last_name:

        phone_form += str(phone_keys[letter])
    
    return phone_form

In [13]:
customers = retrieve_data(dataset_path/"noahs-customers.csv")

In [15]:
customers['last_name'] = customers['name']

In [22]:
customers['last_name'] = customers['name'].apply(lambda x: x.split(' ')[-1])

In [25]:
customers['last_name_len'] = customers['last_name'].apply(lambda x: len(x))
customers_of_interest = customers[customers['last_name_len'] == 10]

In [27]:
customers_of_interest['phone'] = customers_of_interest['phone'].apply(lambda x: x.replace('-', ''))

/var/folders/z6/mhv044k52r38pf74f9w6gkjc0000gn/T/ipykernel_36036/3746993353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_of_interest['phone'] = customers_of_interest['phone'].apply(lambda x: x.replace('-', ''))

In [34]:
customers_of_interest['phone_form'] = customers_of_interest['last_name'].apply(return_phone_form)

/var/folders/z6/mhv044k52r38pf74f9w6gkjc0000gn/T/ipykernel_36036/4284804814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_of_interest['phone_form'] = customers_of_interest['last_name'].apply(return_phone_form)

In [36]:
customers_of_interest[customers_of_interest['phone_form'] == customers_of_interest['phone']]

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long,last_name,last_name_len,phone_form
207,1208,Sam Tannenbaum,221 Banker St,"Brooklyn, NY 11222",1994-09-13,8266362286,America/New_York,40.7257,-73.9555,Tannenbaum,10,8266362286